<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <style>
        .title h1{
            text-align: center;
            
        }
        .title {
            background-color: coral;
        }
    </style>
</head>
<body>
    <div class="title"><h1 style="text-align: center;">Add Product</h1></div>
    <table border="0" style="margin: auto;">
     <form action="/insert" method="POST">
     <tr>
        <td>Product ID</td> 
        <td><input type="text" name="_id" id=""></td>
    </tr>
    <tr>
        <td>Product Name</td>
        <td><input type="text" name="productName"></td>   
    </tr>    
    <tr>  
        <td>Price </td> 
        <td><input type="text" name="price" id=""></td>
    </tr> 
    <tr>     
        <td>Quantity</td>
        <td><input type="text" name="quantity" id=""></td>  
    </tr>
    <tr>
        <td>Color</td>
        <td><input type="text" name="color"></td>
    </tr>
    <tr>
        <td><input type="submit" value="Insert"></td>
    </tr>
    </form>
    </table>
</body>
</html>